
body{
     background-color:#1b1f27 ;
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     overflow: hidden;
}


.box {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    text-align: left;
}

fieldset {
    border-color: #341244;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

table {
    width: 100%;
}

td {
    padding: 5px;
}

.inputBox {
    margin-bottom: 10px;
    
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #341244;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}