*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: 	#eceef8;   
}

/*menu de navegação*/
nav{
  background-color:rgb(31, 27, 27);
}

nav li{
         display: inline-block;
         background-color:(31, 27, 27);
}

nav li a {
       display: inline-block;
      text-decoration: none;
      color:aliceblue;
      padding: 25px;
      background-color:rgb(31, 27, 27);
}

nav li a:hover{
    background-color: #161d3a;
}

.dp-menu{
    position: absolute;
  border: 1px solid black;
  display: none;
  

}

.dp-menu a{
  display: block;
}

.dropdown:hover .dp-menu{
    display: block;

}

/*barra de pesquisa*/
.search-container {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 15px;
  }
  
  .search-input {
    padding: 8px 30px 8px 10px;
    border: none;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
    width: 37px;
  }
  
  .search-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color:transparent;
    border: none;
    cursor: pointer;
  }
  
  .search-container:hover .search-input {
    width: 300px;
  }

 /* padronização do estilo de exibição dos livros*/
div.lista{
  padding: px;
  margin-top: 10px;
  display: flex;
  margin-left: 10px;
}

div.item{
  text-align: center;
  padding: 10px;
  width: 200px;
  border: 2px solid #161d3a;
  margin: 12px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
}

div.item:hover{
  background-color:rgb(255, 255, 255) ;
  cursor: pointer;
  box-shadow: 5px 5px 5px black;
}
fieldset{
 background-color: rgb(31, 25, 25);
 color: white;
 text-align: center;
}

/*slides*/
.slider-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.slider {
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
  color: #fff;
  font-size: 70px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  text-shadow:8px 0px 8px black;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

 /*footer*/
footer{
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  color: white ;
  background-color: rgb(19, 16, 16);
}

.footer-link{
  text-decoration: none;
}

#footer_content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts{
  margin-bottom: 0,75rem;
}

#footer_social_media{
   display: flex;
   gap: 2rem;
   margin-top:1.5rem;
}

#footer_social_media .footer-link{
 display: flex;
align-items: center;
justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color:white;
  border-radius: 50%;
}

#footer_social_media .footer-link:hover{
  opacity: 0.8;
}

#footer_social_media .footer-link i{
  font-size: 1.25rem;
}


#istagram{
   background:linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
   background-color: #4267b3;
}


#whatsapp{
  background-color: #25d366;
}

.footer-list{
   display: flex;
   flex-direction: column;
   gap: 0.75rem;
   list-style: none;  
}

.footer-list .footer-link{
   color: rgb(45, 45, 139);
}

#footer_cad{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

}

#input_group{
  display: flex;
  align-items: center;
  border-radius: 4px;
}

#input_group input{
  all: unset;
  padding: 0.75rem;
  width: 100%;
background-color: white;
color: black;
}

#input_group button{
  background-color: rgb(99, 10, 99);
  border: none;
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius:0px 4px 4px 0px;
  cursor: pointer;
}