li{
  display: inline-block;
}

li a {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.dp-menu{
position: absolute;
display: none;
}

.dp-menu a{
display: block;
}

.dropdown:hover .dp-menu{
  display: block;
}
