*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*menu de navegação*/
body{
  background-color: white;
}
nav{
background-color:rgb(31, 27, 27);
}

nav li{
  display: inline-block;
}

nav li a:hover{
  background-color: #161d3a;
}

.dp-menu{
position: absolute;
display: none;
}

.dp-menu a{
display: block;
}

.dropdown:hover .dp-menu{
  display: block;
}