body{
    background-color: white;
}
.dp-menu input{
    display: none;
}

.dp-menu button{
    width: 175px;
    height: 50px;
    background-color:rgb(31, 27, 27);
    color: white;
    border: none;
}

.dp-menu button:hover{
    background-color: #161d3a;
}

.dp-menu a{
    text-align: center;
}
.dp-menu{
    border-color: rgb(31, 27, 27);
}