:root{
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #276daf;
}
.main-login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login{
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login > h1 {
    font-size: 3vw;
    color: var(--text-color);
}
.left-login-image{
    width: 35vw;
}
.right-login{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #225380;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #0b2641;
}

.card-login > h1{
    color: var(--text-color);
    font-weight: 800;
    margin: 0;
}
.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}
.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: var(--text-color);
    color: var(--bg-color);
    box-shadow: 0px 10px 40px #0f2235;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #fff;
    margin-bottom: 10px;
}
.textfield > input::placeholder{
    color: var(--bg-color);
}
.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: var(--main-color);
    background-color: var(--text-color);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #c4c4c4;
    transition: all .50s ease;
}
.btn-login:hover{
    background-color: #d9e2fc;
}
