*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
.login-oculto{
    display: none;
}
:root{
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #276daf;
}
body{
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}
::-webkit-scrollbar{
    background-color: #222327;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(63, 63, 63)
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 8%;
    transition: all .50s ease;
}
.logo{
    display: flex;
    align-items: center;
}
.logo i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 3px;
}
.logo span{
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
.navbar a:hover{
    color: var(--main-color);
}
.navbar a.active{
    color: var(--main-color);
}
.main{
    display: flex;
    align-items: center;
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}
.sessao{
    color: var(--text-color);
    transition: all .50s ease;
}
.sessao:hover{
    color: var(--main-color);
}
.main a:hover{
    color: var(--main-color);
}
.user,
.user-sessao{
    display: flex;
    align-items: center;
}
.user i,
.user-sessao i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}
#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.search-icon{
    height: 40px;
    width: 240px;
    display: flex;
    background: var(--main-color);
    border-radius: 5px;
  }
.search-icon input{
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
}
.search-icon .icon{
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.search-icon .icon:hover{
    background: #fff;
}
.icon{
    background: var(--main-color);
}
.icon i{
    color: var(--text-color);
}

button:hover > i{
    color: var(--bg-color);
}

.search-icon{
    margin: auto;
}

.search-box{
    background: #fff;
    height: 30px;
    border-radius: 30px;
    padding: 1px;
}
.search-bnt{
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #276daf;
}
.search-bnt i{
    color: #fff;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
}

.search-icon{
    height: 40px;
    width: 240px;
    display: flex;
    background: var(--main-color);
    border-radius: 5px;
  }
.search-icon input{
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
}
.search-icon .icon{
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.search-icon .icon:hover{
    background: #838282;
    transition: 0.8s ease;
}
label:hover > i{
    color: var(--bg-color);
}

/* footer  */

footer{
    background-color: var(--bg-color);
}
footer .container h3{
    color: var(--main-color);
}
.rede-sociais i{
    color: var(--main-color);
    font-size: 28px;
}
.rede-sociais i:hover{
    color: var(--text-color);
    transition: all 0.8s ease;
}
.link a{
    color: var(--text-color);
}
.link a:hover{
    color: var(--main-color);
}
.container{
    display: flex;
    margin-left: 10px;
    margin-right: 5px;
}
footer .container ul{
    width: 25%;
}
footer .container h3{
    margin-bottom: 16px;
    font-weight: 600;
}
footer .container .rede-sociais i{
    margin-right: 10px;
}
footer .container ul > p{
    margin-bottom: 10px;
}
footer .container li{
    margin: 10px 0;
}

.col h3{
    color: #276daf;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.col h3::after{
    content: '';
    height: 3px;
    width: 50px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

.col h3:hover::after{
    width: 30px;

}

.col .links a{
    display: block;
    text-decoration: none;
    color: var(--text-color);
    margin-bottom: 5px;
    position: relative;
    transition: 0.7s ease;

}

.col .links a:before{
    content: '';
    height: 16px;
    width: 3px;
    position: absolute;
    top: 5px;
    left: -10px;
    background-color: var(--main-color);
    transition: 0.5s ease;
    opacity: 0;
}

.col .links a:hover::before{
    opacity: 1;
}

.col .links a:hover{
    transform: translateX(-8px);
    color: var(--main-color);
}
@media (max-width: 1700px){
    header{
        padding: 28px 4%;
        transition: .2s;
    }
}

@media (max-width: 1500px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
}
@media (max-width: 1320px){
    #menu-icon{
        display: block;
    }
    .main a{
        text-align: center;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 210px;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    .navbar a{
        color: var(--text-color);
        display: block;
        margin: 12px 0;
        padding: 0 25px;
        transition: all .50s ease;
    }
    .navbar a:hover{
        color: var(--text-color);
        transform: translateY(5px);
    }
    .navbar.open{
        right: 2%;

    }
}
@media (max-width: 800px){
    .main .search-icon{
        display: none;
    }
    .main a{
        display: none;
    }
    .login-oculto{
        display: block;
    }
    .sessao{
        display: none;
    }
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 365px;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    .navbar a{
        color: var(--text-color);
        display: block;
        margin: 12px 0;
        padding: 0 25px;
        transition: all .50s ease;
    }
    .navbar a:hover{
        color: var(--text-color);
        transform: translateY(5px);
    }
    .navbar.open{
        right: 2%;
    }
    .user i{
        color: var(--text-color);
    }
    footer .container{
        flex-direction: column;
        margin-left: 2rem;
    }
    footer .container ul{
        width: 100%;
        margin-bottom: 30px;
    }
}
#link-up {
    z-index: 1;
    position: fixed;
    color: white;
    background-color: #276daf;
    padding: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 30%;
    transition: all .50s ease;
}
#link-up:hover{
    color: #276daf;
    background-color: white;
}
